<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLDonHang_1851010089.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=.;Initial Catalog=Northwind;User ID=sa; Password = 123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>